<div class="page-border">
  <div class="page-header">
    <h1>Find a Borrower</h1>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td>
          <td><%= user.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
