<%- model_class = Loan -%>
<div class="page-header">
  <h1><%= @loan.title %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Description:</strong></dt>
  <dd><%= @loan.description %></dd>
  <dt><strong>Categories:</strong></dt>
  <dd><%= @loan.display_categories %></dd>
  <dt><strong>Price:</strong></dt>
  <dd><%= @loan.unit_price_dollars %></dd>
</dl>
